.header-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  font-weight: 800;
  text-transform: uppercase;

  & > div {
    padding: 0.5rem;
  }

  &__back {
    font-size: 1.3rem;
    line-height: 1;
    cursor: pointer;
  }

  &__level {
    color: var(--cream-color);
  }

  &__score {
    color: var(--primary-color);
  }

  &__lives {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--accent-color);
  }
}
