.home {
  max-width: 29rem;
  height: 100%;
  margin: 0 auto;
  padding: var(--spacing-double);

  &__illustration {
    width: 100%;
    margin-bottom: var(--spacing);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .button {
    display: flex;
    place-items: center;
    justify-content: center;
    gap: var(--spacing);
  }

  .button--play {
    color: white;
    background-color: var(--primary-color);
  }

  .button--ranking {
    color: var(--primary-color);
    background-color: white;
  }

  @at-root &-view {
    background: linear-gradient(white 0, white 45%, var(--primary-color) 150%);
  }
}
