.final {
	display: flex;
	flex-direction: column;
	background-color: var(--paper-color);
	text-align: center;
	text-wrap: balance;

	&.view {
		padding-block-start: 4rem;
	}

	&__title {
		color: var(--primary-color);
		text-transform: uppercase;
		font-weight: 1000;
	}

	&__subtitle {
		line-height: 1.1;
		margin-bottom: var(--spacing);
	}

	&__share {
		position: absolute;
    bottom: 1rem;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 50%);
    width: max-content;
    display: inline-block;
    padding: var(--spacing-half);
    color: white;
		background-color: var(--primary-color);
    border-radius: var(--border-radius);
	}

	&__score {
		color: var(--primary-color);
	}

	&__level {
		position: relative;
	}

	&__level-score {
		width: 100%;
		padding: 4rem 0 7rem;
    font-size: 6rem;
    font-weight: 1000;
    color: var(--primary-color);
	}

	&__laurel {
		position: absolute;
		top: 0;
		left: 0;
	}
}
