.try-again {
	display: flex;
	flex-direction: column;
	justify-content: center;
	place-items: center;
	text-align: center;
	text-wrap: balance;
	background-color: var(--paper-color);

	&__subtitle {
		color: hsl(40, 17%, 79%);
	}

	&__title {
		color: var(--primary-color);
		text-transform: uppercase;
		font-weight: 1000;
	}

	&__replay {
		margin-bottom: var(--spacing);
	}
}
